.container {
    width: 700px;
    margin: auto;
}

.fondo {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 35%;
}

.logo {
height: 50px;
margin-top: 19px;
margin-bottom: 5px;
}

.sottolineatura {
 text-decoration: none;
 color: #4ea0ff;
}

.image {
    height: 250px;
}

.evidenziato {
    background-color: yellow;
}